h1 {
	color: black;
	font-family: sans-serif;
	}

h4  {
	color: rgb(169, 215, 171);
	font-family: sans-serif;
	}
#link02 {
	color: rgb(76, 164, 213);
	font-family: sans-serif;
	font-size:18px;
		}

#link01 {
	background-color: rgb(11, 117, 78);
	border-radius:auto;
	font-family: sans-serif;
	font-size:25px;
		}

body
#wrap {
	width: 900px;
	margin: auto;
	}


article p{
	padding: 10px 0px;
		}


#texto02 {background-color: rgb(11, 117, 78);}

a {
	color: black; 
	text-decoration: none;
	font-size:18px;
	}	}

p {font-family: sans-serif;}

#texto03 {
		width: auto;
		height: 10px;
			}

#texto01 {
		width: auto;
		height: 50px;
			}

#texto04
		{ width: 500px;
		height: auto;
			}

footer	{ 
	width: 500px;
    position: absolute;
    top: 650px;
    left: 30%;
			}
   			

.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
			}
.formulario p{
    width: 100%;
    font-size: 1.5em;
			}
.field{
    width: 100%;
    margin: 15px 0;
			}
.field label, .field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
			}
.radiobox label{
    width: auto;
    display: inline-block;
			}
input[type=text], input[type=email], textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
			}
input#nao{
    margin-left: 30px;
			}


 #landscape {
    width: 250px;
    position: absolute;
    top: 140px;
    left: 750px;
        }
